/*CAJA CONTACTO*/

.contact-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #fffdf8; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.contact-box {
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}